.cover {
  height: 100vh;
  width: 100vw;
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.img-couple-cover {
  background-image: url("../../assets/photo_p1.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 50%;
  margin-top: 3em;
  position: relative;
  z-index: 1;
}

.leaves-phrase-container {
  display: flex;
  justify-content: space-between;
}

.leaves-phrase-container p {
  font-size: 1.6em;
  text-align: center;
  font-weight: 700;
  line-height: 1;
}

.phrase-container {
  width: 70%;
  color: var(--color-petrol);
}

.leaves-container {
  width: 15%;
  display: flex;
  flex-direction: column;
}

.leaves-icon {
  background-image: url("../../assets/leaves.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 10vh;
}

.leaves-container:first-child {
  justify-content: flex-start;
}

.leaves-container:last-child {
  justify-content: flex-end;
}

.leaves-container:first-child .leaves-icon {
  background-position: top left;
  position: relative;
  z-index: -1;
  margin-top: -2em;
  margin-left: -2em;
}

.leaves-container:last-child .leaves-icon {
  background-image: url("../../assets/leafCut.svg");
  background-position: top right;
  position: relative;
  z-index: -2;
  margin-bottom: -1.3em;
}