@import "tailwindcss";

:root{
  --primary: #004AAD;
}

@theme{
    --color-blueP : oklch(0.4365 0.1709 259.21);
    --color-petrol: #002F37;
    --color-content: #333528;
    --font-marcellus: "Marcellus SC", serif;
    --font-inria: "Inria Serif", serif;
    --font-obaby: "Oooh Baby", cursive;
    --font-baskerville: "Libre Baskerville", serif;
    --font-playfair: "Playfair", serif;
    --font-tangerine: "Tangerine", cursive;
}